<div class="bio">
  <div class="bio__header">
  	<a href="{{ site.url }}{{ "/" | relative_url }}">
	  {{ site.header }}
	</a>
  </div>
  <div class="bio__desc">{{ site.desc }}</div>
  {% if site.data.social %}
    <ul class="bio__social">
      {% for item in site.data.social %}
        <li><a href="{{ item.url }}" target="_blank">{{ item.title }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}


 <div class="latest_title"><br>Latest @ dra.ft</div>
 {% if site.data.latest %}
    <ul class="bio__social">
      {% for item in site.data.latest %}
        <li><a href="{{ item.url }}" target="_blank">{{ item.title }}</a></li>
      {% endfor %}
	 <li>Visit the exhibition here:<a href="http://freefall.dra-ft.site/" target="_blank">freeFall future.text<a></li>
    </ul>

<iframe width="560" height="315" src="https://www.youtube.com/embed/a5YVe3G3Z3k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  {% endif %}
