.bio {
  max-width: 500px;
  margin-bottom: 50px;
  
}

.bio__header {
  margin-bottom: 20px;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 700;
  font-style: italic;
  font-size: 24px;

.bio__desc {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 300;
  font-style: italic;
  font-size: 14px;
}

  a {
  	text-decoration: none;

  	&:hover {
  		text-decoration: none;
  	}
  }
}

.bio__social {
  margin: 0;
  margin-top: 10px;
  padding: 0;
  list-style: none;
}

.latest_title {
    font-weight: 700;
}
